<div id="team" class="thumbnail">
  <img alt="" src="http://quickimage.it/300x180">
  <div class="caption">
    <h4>
      <a href=""><%= person.name %></a>
    </h4>

    <p><em>Voturi: 1</em></p>
    <div class="social">
      <ul class="unstyled">
        <li><a class="facebook" href=""><i class="icon-facebook-sign"></i></a></li>
        <!--<li><a class="twitter" href=""><i class="icon-twitter-sign"></i></a></li>-->
      </ul>
    </div>
  </div>
</div>