<div id="team" class="thumbnail">
  <img alt="" src="<%= person.safe_picture_url %>" />
  <div class="caption">
    <h5>
      <a href="<%= person_path :id => person.id %>"><%= person.name %></a>
    </h5>
    <span class="">(1)</span>

    <% if links %>
    <div class="social">
      <ul class="unstyled">
        <li><a class="facebook" href=""><i class="icon-facebook-sign"></i></a></li>
      </ul>
    </div>
    <% end %>
  </div>
</div>