<div id="header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Lideri</h1>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <ul class="unstyled">
        <% @people.each do |person| %>
            <li class="span2">

              <%= render "people/card", :person => person, :links => true %>

            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


