<% if user_signed_in? %>
 <div id="header">
   <div class="container">
     <div class="row">
       <div class="span12">
         <h1>Propune un candidat</h1>
       </div>
     </div>
   </div>
 </div>

 <div id="content">
   <div class="container">
     <div class="row">
       <div class="span6">

         <%= render 'form' %>

       </div>
       <div class="span6">
         <p>Alege o fotografie care sa ii confere credibilitate reprezentantului tau<br/>
           Adauga linkuri spre informatii relevante despre pregatirea si backgroundul lui<br/>
           ! Fiecare dintre noi poate face 5 propuneri!
         </p>
       </div>
     </div>
   </div>
 </div>
<% else %>
     <div class="container txt-middle padding-top bold">
         <p>Te rugam sa te loghezi cu contul de Facebook pentru a propune!</p>
         <br/>
         <p>O data logat vei avea dreptul la maxim 5 propuneri, care vor fi moderate inainte de a fi publicate.</p>
         <br/>
        <%= link_to '', user_omniauth_authorize_path(:facebook), :class => 'fb-login-button' %>
     </div>
<% end %>
