<h1>New Opening</h1>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <%= render 'form' %>

                <%= link_to 'Back', openings_path %>

            </div>
        </div>
    </div>
</div>
