<div id="header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Cine suntem NOI</h1>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>
          Deocamdată suntem x oameni din domeniile IT, comunicare și management. Vrem să organizăm puțin lucrurile și
          venim cu o versiune unificată a inițiativelor de găsire a liderilor, apărute pe grupurile și paginile de
          Facebook din ultima vreme. Mai concret, vrem să gasim 5 lideri care să accepte să ne reprezinte de acum
          înainte în Piață, locul de unde ar trebui să continăm schimbarea.
        </p>

        <p>
          Lucrăm voluntar la proiect și vrem să păstrăm lucrurile cât mai transparente, așa că uite-ne: (in curs de actualizare)
        </p>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>