<div id="header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Cine suntem NOI</h1>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>Suntem un grup de tineri satui de sistemul politic din Romania si ne dorim sa sa gasim acei oameni dintre
          noi, care ne pot reprezenta in negocierile ulterioare cu clasa politica (care o fi aceasta in acest
          moment).</p>

        <p>Ne punem la dispozitia voastra ca sa investigati sa vedeti pentru prima data, cine e in spatele acestei
          actiuni civice.</p>

        <p>Scopul nostru este de a identifica acest grup de lideri, care ne vor reprezenta pe termen scurt in discutiile
          cu clasa politica.
          Si care ne vor uni scopul intr-unul comun.</p>
      </div>
    </div>
  </div>
</div>