<div id="header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Cine suntem NOI</h1>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>Deocamdata suntem x oameni cu diverse backgrounduri: IT, comunicare, management. Vrem sa organizam putin
        lucrurile si sa gasim o o versiune unificata a initiativelor de gasire a liderilor aparute pe grupurile si
        paginile de Facebook din ultima vreme. Mai concret, vrem sa gasim 5 lideri care sa accepte sa ne reprezinte in
        cadrul unor discutii oficiale cu actuala conducere.
          </p>
        <p>
        Lucram voluntar la proiect si vrem sa pastram lucrurile cat mai transparente, asa ca uite-ne:
        </p>
        <ul>
          <li>nume prenume</li>
        </ul>
      </div>
    </div>
  </div>
</div>