<div id="header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Contact</h1>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p class="">
          Momentan, ne găsiți pe grupul de Facebook:
          <a href="https://www.facebook.com/groups/nominalizez.pe/">propun.pe</a>
          și la adresa de email: <a href="mailto:contact@propun.pe">contact@propun.pe</a>
        </p>
      </div>
    </div>
  </div>
</div>

