<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

<div id="landing">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Take your product to new heights.</h1>

                <p>Bounce is a modern and minimalistic template perfect for showing off your latest product or service
                    and its features. Bounce comes with many pages and features that make it a wonderful starting point
                    to create something even more unique.</p>

                <p><a href="#" class="btn btn-primary btn-action">Get Started Now</a></p>
            </div>
        </div>
    </div>
</div>