<div id="landing">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h1>MANIFEST</h1>

        <p>“O.K., i-am dat jos p-astia, da’ pe cine punem in loc?”<br/>Simplu: pe cei mai buni dintre noi.</p>

        <p><a href="http://propun.pe">propun.pe</a> este o unealta care faciliteaza procesul de gasire a celor mai
          competenti oameni din Romania.</p>

        <p>Cum?<br/>
          Pana duminica, 15 noiembrie, propune sau voteaza o persoana care crezi ca ar fi potrivita pentru unul din
          domeniile de mai jos.</p>

        <p>Luni, 16 noiembrie, aceste elite devin liderii care ne reprezinta la discutiile cu presedintele privind
          reconstructia structurilor de stat.</p>

        <p>Hai ca se poate! Stim cu totii ca acesti oameni capabili si de buna-credinta exista!</p>

        <p>E doar o chestiune de efort si rabdare sa ii gasim!</p>
      </div>
      <div class="span6">
        <ul class="thumbnails">
          <% @people.each do |person| %>
              <li class="span2">

                <%= render "people/card", :person => person, :links => false %>

              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="span12">-->
<!--<h2 class="txt-middle">Top 10</h2>-->
<!--<hr class="dashed">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->