<div id="landing">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>MANIFEST</h1>

        <p>
          “O.K., i-am dat jos p-astia, acum pe cine punem in loc?
        </p>

        <p><a href="http://propun.pe">propun.pe</a> 
           este unealta care faciliteaza procesul de gasire a celor mai competenti oameni din Romania. E centralizatorul
          opiniilor noastre, a celor care vrem ca lucrurile sa se schimbe in bine.
        </p>

        <p>
          Pana duminica, 15 noiembrie, alege-ti un reprezentant, iar daca nu-l gasesti in lista, propune-l tu.
        </p>

        <p>
          Luni, 16 noiembrie, cei votati de noi devin liderii care ne reprezinta la discutiile cu presedintele, privind
          reconstructia structurilor de stat.
        </p>

        <p>
          Hai ca se poate! Stim cu totii ca acesti oameni capabili si de buna-credinta exista!<br/>
          E doar o chestiune de efort si rabdare sa ii gasim!
        </p>
      </div>
    </div>
      <div class="row">

          <div class="span12">
              <ul class="thumbnails">
                  <% @people.each do |person| %>
                   <li class="span2">

                       <%= render "people/card", :person => person, :links => false %>

                   </li>
                  <% end %>
              </ul>
          </div>
      </div>
  </div>
</div>

<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="span12">-->
<!--<h2 class="txt-middle">Top 10</h2>-->
<!--<hr class="dashed">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->