<div id="header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Cum vom funtiona</h1>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>
          Observand valul de initiative din ultima vreme, ne-am dat seama ca putem sa eficientizam lucrurile daca cream
          un loc unde toate parerile sa prinda o voce coerenta. Deocamdata, vorbim despre cativa lideri care sa se aseze
          la masa negocierilor in numele nostru, al celor care vrem o schimbare. Propune.pe va fi imaginea oficiala a
          opiniilor noastre.
        </p>

        <p>
          Orice cetatean roman cu varsta de peste 18 ani este eligibil pentru a fi nominalizat. Vrem sa pastram
          lucrurile cat mai simple si cat mai usor de comunicat, asa ca hai sa aducem aici doar propunerile noastre
          finale, documentate si bine gandite.
        </p>

        <p>
          Pe masura ce opiniile se concretizeaza in jurul unor oameni, noi ii contactam ca sa aflam daca vor intr-adevar
          sa ne reprezinte.
        </p>


        <p>
          Luni, 16 noiembrie, vom anunta cei 5 reprezentanti, care vor putea intra in discutii oficiale si care vor
          putea fi consultati in legatura cu viitoarele decizii luate de Presedinte si Guvern.
        </p>
      </div>
    </div>
  </div>
</div>