<div id="header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Cum vom funtiona</h1>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>
          Observând valul de inițiative din ultima vreme, ne-am dat seama că putem să eficientizăm lucrurile dacă creăm
          un loc unde toate părerile să prindă o voce coerentă. Vrem să găsim acei lideri pe care nu am reușit să îi
          găsim în timpul prea scurt oferit până acum.
        </p>

        <p>
          Orice cetățean român cu vârsta de peste 18 ani este eligibil pentru a fi nominalizat ca lider. Vrem să păstrăm
          lucrurile cât mai simple și cât mai ușor de comunicat, asa că hai să aducem aici doar propunerile noastre
          finale, documentate și bine gândite.
        </p>

        <p>
          Pe măsură ce opiniile se concretizează în jurul unor oameni, noi îi contactăm ca să aflăm daca vor într-adevăr
          să ne reprezinte. Deocamdata vorbim despre 5 reprezentanți care vor vorbi în numele nostru în Piață și abia
          apoi în eventuale discuții cu oficialii.
        </p>

      </div>
    </div>
  </div>
</div>