<div id="header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Cum vom funtiona</h1>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>Observand valul de initiative din ultima vreme, ne-am dat seama ca putem sa eficientizam lucrurile daca cream
          un loc unde toate parerile sa prinda o voce coerenta. Deocamdata, vorbim despre cativa lideri care sa se aseze
          la masa negocierilor in numele nostru, al societatii civile. Propune.pe va fi imaginea oficiala a opiniilor
          noastre.</p>

        <p>Vrem sa pastram lucrurile cat mai simple si cat mai usor de comunicat, asa ca hai sa aducem aici doar
          propunerile noastre finale, documentate si bine gandite.</p>

        <p>Echipa noastra o sa modereze constant site-ul si o sa elimine propunerile irelevante, pe care le-am intalnit
          deja in multe discutii. Vrem sa propunem persoane cu activitate relevanta pentru obiectivul nostru si vrem sa
          ne ferim de propunerea unor actuali sau fosti politicieni.</p>

        <p>Pe masura ce opiniile se concretizeaza in jurul unor oameni, noi ii contactam ca sa aflam daca vor intradevar
          sa ne reprezinte.</p>

        <p>Vom centraliza aici organizarea mitingurilor si ultimele informatii importante. Propune.pe devine
          centralizatorul a tot ceea ce se intampla in societatea civila.
        </p>
      </div>
    </div>
  </div>
</div>