<div id="header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Termeni</h1>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>Termeni si conditii</h2>
        <p></p>
      </div>
    </div>
  </div>
</div>