<div id="header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Termeni si conditii</h1>
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>Ca sa ne atingem scopul principal, cel de a negocia cu clasa politica o schimbare pe termen mediu si lung,
          avem
          nevoie
          de coerenta si sustinere din partea voastra. Stiti foarte bina ca lucurile nu se pot schimba peste noapte si
          de
          aceea avem
          Nevoie de sustinerea voastra si mai ales de consecventa.</p>

        <p>
          Din acest motiv, noi initiatorii acestui proiect, vrem sa va prezentam public ECHIPA organizatoare, sa va
          putem
          capata
          Sustinerea si sa va anuntam cateva informatii suplimentare:
          Toti liderii propusi vor fi gestionati de echipa de organizare, caci exista posibilitatea ca sa transformam
          aceasta companie,
          Intr-una de sustinere fara sa ne doriim acest lucru a unui canditat politic. Astfel, va prezentam mai jos
          cateva
          exemple care
          vor cadea la upload</p>

        <p>Varianta 1 : Cineva va vota INNA – nu avem nimic personal cu acest artist, dar stim cu totii
          ca in momentul in care ar ajunge la intalnire de negociere, nu va putea sustine si professional cerintele
          noastre. Ne vom bucura insa de sustinerea ei in comunicarea acestui demers.</p>

        <p>
          Varianta 2: Cineva va vota Mircea Badea – de asemenea nu avem nimic personal cu acesta, dar acest tip de
          personaj public este discutabil si din acest punct de vedere nu vom putea da drumul online cu acest personaj
        </p>

        <p>
          Varianta 3: cele la caterinca (gen IISUS, Michael Jackson)
        </p>
      </div>
    </div>
  </div>
</div>